// SASS Variables
// Merely need to use $
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #ffffff;

// SASS Maps (Lists of key-value pairs) - uses parenthesis instead of brackets
// To access the map use map-get('map-name', 'key(no string quotes when accessing)')
$font-weights: (
  "light": 200,
  "regular": 400,
  "medium": 600,
  "bold": 800,
);

body {
  background-color: $primary-color;
  color: $text-color;
  font-weight: map-get($map: $font-weights, $key: regular);
}

.header {
  font-weight: map-get($map: $font-weights, $key: bold);
}

.main {
  width: 80%;
  margin: 0 auto;
  // In SASS & (ampersand) equals the parent .. So in this current case we're targeting the paragraph held within (nested) the parent, which is the main class
  & p {
    font-weight: map-get($map: $font-weights, $key: light);
    color: $accent-color;
  }
}
